<!DOCTYPE html>
<html lang="en" ng-app="mymodal">
<head>
    <link href="/css/nextSong.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/artistInfo.css" rel="stylesheet">
    <!--<link href="/css/testcss.css" rel="stylesheet">-->
    <!--<link href="/css/iconsTest.css" rel="stylesheet">-->
    <!--<link href="/css/fontTest.css" rel="stylesheet">-->
    <script type=text/javascript src="/js/jquery.min.js"></script>
    <script type=text/javascript src="/js/handlebars.js"></script>
    <script type=text/javascript src="/bootstrap/js/bootstrap.min.js"></script>
    <script type=text/javascript src="/js/typeahead.js"></script>
    <script type=text/javascript src="/js/angular.min.js"></script>
    <script type=text/javascript src="/js/angularApp.js"></script>
    <script type=text/javascript src="/js/tracklistInfo.js"></script>
    <script type=text/javascript src="/js/app.js"></script>

</head>

<body onload="searchTracklist();">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="glyphicon glyphicon-home" href="Home" aria-hidden="true"> Home</a>
            <a class="glyphicon glyphicon-user" href="artistInfo" aria-hidden="true"> Artist</a>
            <a class="glyphicon glyphicon-user" href="tracklistInfo" aria-hidden="true"> Tracklist</a>
            <a class="glyphicon glyphicon-user" href="Admin" aria-hidden="true"> Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <form class="navbar-form">
                <div id="tracklistDropdown" class="form-group">
                    <input id="inputFindTracklist" {{valueBinding="sName"}} class="typeahead" type="text" placeholder="SEARCH A TRACKLIST...">
                </div>
                <button id="searchButton" type="button"  onclick="searchTracklist(inputFindTracklist.value)" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class='jumbotron' style="text-align: center">
    <div class="container">
        <h1>Welcome to the Tracklist page</h1>
    </div>
</div>

<div class="container">
    <div id="artistInfo" class="fb-profile">
        <!--<img align="left" class="fb-image-profile thumbnail" src="http://dummyimage.com/300&text=Gonzalo" alt="Profile image example"/>-->
        <!--<div id="artistInfoText" class="fb-profile-text">-->
            <!--<h1>Eli Macy</h1>-->
            <!--<p>Girls just wanna go fun.</p>-->
        <!--</div>-->
    </div>
</div>

<!--<div id='songMatchesDiv' class='songMatchesDiv container'></div>-->

<div id='tracklistsInfo' class='songMatchesDiv container'>
</div>

<!--<div id='artistSongs' class='songMatchesDiv container'></div>-->


<div ng-controller="MainCtrl" class="container">
</div>

<script id="tracklistsTemplate" type="text/x-handlebars-template">
    <ul>
        {{#each objects}}

        <div id="artistTracklistsText" class="fb-profile-text">
            <h2>Tracklist name: {{tracklistName}}</h2>
            <!--<h2>-->
                <!--<a id="{{tracklistName}}" href="tracklistInfo?{{tracklistName}}" style="cursor:pointer">{{tracklistName}}-->
                <!--</a>-->
            <!--</h2>-->
        </div>
        </div>
        <div class="fb-profile-text">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{tracklistLinks.soundCloudLink}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
    </ul>
    <hr>

    {{#tracklistTracks}}
    <div class="row">
        <h1 class="pull-left">{{trackNumber}}</h1>
        {{#track}}
        <div class="media-body col-md-8">
            <div class="well well-lg">
                <h4>
                    <a id="{{songName}}" href="home?{{songName}}" style="cursor:pointer">{{songName}}
                    </a>
                </h4>
                {{#songArtist}}
                    <span><a href="/artistInfo?{{artistName}}">
                        {{artistName}}
                    </a>
                    </span>
                {{/songArtist}}
                {{#ifCond songLinks.youtubeLink.length}}
                <img src="/images/youtube.png" width="50" height="50" class="img-thumbnail pull-right" style="cursor: pointer" onclick="toggleYFrame({{@index}}, {{safeString songLinks.youtubeLink}});">
                {{/ifCond}}
                {{#ifCond songLinks.soundCloudLink.length}}
                <img src="/images/soundcloud.png" width="50" height="50" class="img-thumbnail pull-right" style="cursor: pointer" onclick="toggleSFrame({{@index}}, {{safeString songLinks.soundCloudLink}});">
                {{/ifCond}}
                <p>{{summary}}</p>
            </div>
            {{#ifCond songLinks.youtubeLink.length}}
            <iframe id="youtubeIframe{{@index}}" width="100%" style="display: none" height="166" scrolling="no" frameborder="no"></iframe>
            {{/ifCond}}
            {{#ifCond songLinks.soundCloudLink.length}}
                <iframe id="soundcloudIframe{{@index}}" width="100%" style="display: none" height="166" scrolling="no" frameborder="no"></iframe>
            {{/ifCond}}
        </div>
        {{/track}}
    </div>
    <hr>

    {{/tracklistTracks}}
    {{/each}}
</script>

<!--<script id="artistTemplate" type="text/x-handlebars-template">-->
    <!--<ul>-->
        <!--{{#each objects}}-->

        <!--<img align="left" src="http://dummyimage.com/300x300&amp;text={{artistName}}" class="fb-image-profile thumbnail">-->

        <!--<div id="artistInfoText" class="fb-profile-text">-->
            <!--<h1>{{artistName}}</h1>-->
            <!--<p>{{artistDesc}}</p>-->
        <!--</div>-->
        <!--</div>-->
    <!--</ul>-->
    <!--<hr>-->
    <!--{{/each}}-->
<!--</script>-->

<!--<script id="songsTemplate" type="text/x-handlebars-template">-->
    <!--<ul>-->
        <!--{{#each objects}}-->
        <!--{{#songs}}-->
        <!--<div class="row">-->
            <!--<img src="/images/discImage.png" width="64" height="64" class="img-thumbnail pull-left">-->
            <!--<div class="media-body col-md-8">-->
                <!--<div class="well well-lg">-->
                    <!--<h4>-->
                        <!--<a id="{{songName}}" href="home?{{songName}}" style="cursor:pointer">{{songName}}-->
                        <!--</a>-->
                    <!--</h4>-->
                    <!--{{#songArtist}}-->
                    <!--<span><a href="/artistInfo?{{artistName}}">-->
                        <!--{{artistName}}-->
                    <!--</a>-->
                    <!--</span>-->
                    <!--{{/songArtist}}-->
                    <!--<p>{{summary}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
    <!--{{/songs}}-->
    <!--{{/each}}-->
    <!--</ul>-->
<!--</script>-->

</body>
</html>